# Expo
.expo/
dist/
web-build/

# dependencies
node_modules/

# Native
ios/
android/

# Environment
.env
.env.local

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
